body {
    padding: 1%;
}

#container {
    padding: 1%;
}

#self-photo {
    width: 33%;
    height: 10%;
    padding: 1%;
    float: left;
}

#content {
    width: 66%;
    padding: 1%;
    float: right;
}

#name {
    font-family: "Bangla MN", "", "serif";
}